<!-- {target: req.params.target, jwt: req.params.jwt} -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="bower_components/iron-form/iron-form.html">
    <link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body class="glg-defaults main-container fullbleed layout vertical">
    <template id="glgLogin" is="dom-bind">
      <div class="glg-header horizontal layout">
        <div class="">
          <span class="glg-header-logo"><a href="//glg.it" target="_blank">GLG</a></span>
          <span class="glg-red-slash">/</span>
          <span>Login</span>
        </div>
        <div class="info-icon layout horizontal">
          <a class="title-link" target="_blank" href="https://glg.it/contact/">
            <iron-icon icon="mail"></iron-icon>
            <span>Contact Us</span>
          </a>
        </div>
      </div>

      <div class="layout horizontal center body-wrapper">
        <div style="margin: auto;">
          <div id="welcome" class="container">
            <p>Welcome to GLG.</p>
            <p>Below, please enter the email address you have on record with us.</p>
            <p>We will send you an email with a link to access the site after verifing your account.</p>
          </div>

          <div id="authResponseSuccess" class="layout horizontal outer-container" hidden>
            <div class="layout vertical flex container">
              <p>
                <span>[[authUserFirstName]]</span>,
              </p>
              <p>
                 You have successfully logged in.
                 We have emailed you a link to proceed and it should arrive momentarily.
                 Please check your email.
              </p>
              <p>
                If you do not receive our email soon, please check your spam messages.
                Otherwise, feel free to <a href="https://glg.it/contact/">contact us</a>.
              </p>
            </div>
          </div>

          <div id="authResponseFail" class="layout horizontal outer-container" hidden>
            <div class="layout vertical flex container">
              <div>
                <p>We do not recognize that email address.</p>
                <p>Please verify your email was entered correctly and try again.</p>
                <p>If you are still unable to log in, feel free to <a href="https://glg.it/contact/">contact us</a>.</p>
              </div>
            </div>
          </div>

          <form
            id="authForm"
            action="submit"
            method="post"
            is="iron-form"
            class="layout horizontal outer-container"
            with-credentials="true"
            content-type="application/x-www-form-urlencoded"
            on-iron-form-response="authResponseHandler"
            on-iron-form-error="displayAuthError"
            >
            <input type="hidden" name="target" value="{{target}}">
            <input type="hidden" name="jwt" value="{{jwt}}">
            <div class="layout horizontal flex container">
              <paper-input id="emailInput" class="flex" type="email" name="email" label="Email" required autofocus></paper-input>
              <paper-button noink on-click="authMe">Log In</paper-button>
            </div>
          </form>

          <div id="formErrorMsg" class="layout horizontal outer-container" hidden>
            <div class="flex container">
              <div>
                <p>There was an error submitting your email address.  Please try again.</p>
                <p>If this continues, please feel free to <a href="https://glg.it/contact/">contact us</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <script>


      glgLogin.authMe = function(evt) {
        glgLogin.$.authForm.submit();
      };

      glgLogin.authResponseHandler = function(evt) {
        // determine what to show
        if(evt.detail.__data__.response.status == 'error') {
          //TODO: Might want to hide the form for some error types
          // and sconditionally show different error messages
          glgLogin.$.authForm.removeAttribute('hidden');
          glgLogin.$.authResponseFail.removeAttribute('hidden');
          glgLogin.$.authResponseSuccess.setAttribute('hidden',true);
          glgLogin.$.formErrorMsg.setAttribute('hidden',true);
          glgLogin.$.welcome.setAttribute('hidden',true);
        } else {
          glgLogin.authUserFirstName = evt.detail.__data__.response.name;
          glgLogin.$.authForm.setAttribute('hidden',true);
          glgLogin.$.authResponseFail.setAttribute('hidden',true);
          glgLogin.$.authResponseSuccess.removeAttribute('hidden');
          glgLogin.$.formErrorMsg.setAttribute('hidden',true);
          glgLogin.$.welcome.setAttribute('hidden',true);
        }
      };

      glgLogin.displayAuthError = function(err) {
        glgLogin.$.authForm.setAttribute('hidden',true);
        glgLogin.$.authResponseFail.setAttribute('hidden',true);
        glgLogin.$.authResponseSuccess.setAttribute('hidden',true);
        glgLogin.$.formErrorMsg.removeAttribute('hidden');
        glgLogin.$.welcome.setAttribute('hidden',true);
      };

    </script>
  </body>
</html>
