<!-- {target: req.params.target, jwt: req.params.jwt} -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="bower_components/iron-form/iron-form.html">
    <link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body class="glg-defaults main-container fullbleed layout vertical">
    <template id="glgLogin" is="dom-bind">
      <div class="glg-header horizontal layout">
        <div class="horizontal layout">
          <span class="glg-header-logo"><a href="//glg.it" target="_blank">GLG</a></span>
          <span class="glg-red-slash">/</span>
          <span>Login</span>
        </div>
        <div class="info-icon layout horizontal">
          <a class="title-link" target="_blank" href="https://glg.it/contact/">
            <iron-icon icon="mail"></iron-icon>
            <span>Contact Us</span>
          </a>
        </div>
      </div>

      <form
        id="authForm"
        action="submit"
        method="post"
        is="iron-form"
        class="layout horizontal outer-container"
        with-credentials="true"
        content-type="application/x-www-form-urlencoded"
        on-iron-form-response="authResponseHandler"
        on-iron-form-error="displayAuthError"
        >
        <input type="hidden" name="target" value="{{target}}">
        <input type="hidden" name="jwt" value="{{jwt}}">
        <div class="layout horizontal flex container">
          <paper-input id="emailInput" class="flex" type="email" name="email" label="Email" required></paper-input>
          <paper-button noink on-click="authMe">Log In</paper-button>
        </div>
      </form>

      <div id="authResponseSuccess" class="layout horizontal outer-container" hidden>
        <div class="layout vertical flex container">
          <div>
            <span>[[authUserFirstName]]</span>,
          </div>
          <div>
            You have successfully logged in.
            We have emailed you a link to proceed and it should arrive momentarily.
            Please check your email.
          </div>
          <div>
            If you do not receive our email soon, please check your spam messages.
            Otherwise, feel free to <a href="https://glg.it/contact/">contact us</a>.
          </div>
        </div>
      </div>

      <div id="authResponseFail" class="layout horizontal outer-container" hidden>
        <div class="layout vertical flex container">
          <div>
            <span>[[authUserFirstName]]</span>,
          </div>
          <div>
            You have successfully logged in.
            We have emailed you a link to proceed and it should arrive momentarily.
            Please check your email.
          </div>
          <div>
            If you do not receive our email soon, please check your spam messages.
            Otherwise, feel free to <a href="https://glg.it/contact/">contact us</a>.
          </div>
        </div>
      </div>

      <div id="formErrorMsg" class="layout horizontal outer-container" hidden>
        <div class="flex container">
          <div>
            There was an error submitting your email address.  Please try again.
          </div>
          <div>
            If this continues, please feel free to <a href="https://glg.it/contact/">contact us</a>.
          </div>
        </div>
      </div>
    </template>

    <script>

      // possible email validation regular expression
      //  glgLogin.$.emailInput.allowed-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i"

      glgLogin.authMe = function(evt) {
        glgLogin.$.authForm.submit();
      };

      glgLogin.authResponseHandler = function(evt) {
        // determine what to show
        if(evt.detail.__data__.response.status == 'error') {
          glgLogin.authResponseMessage = 'Unable to auth. Refresh and try again';
          glgLogin.$.authResponseFail.removeAttribute('hidden');
        } else {
          glgLogin.authUserFirstName = evt.detail.__data__.response.name;
          glgLogin.$.authForm.setAttribute('hidden',true);
          glgLogin.$.authResponseSuccess.removeAttribute('hidden');
        }
      };

      glgLogin.displayAuthError = function(err) {
        glgLogin.$.authForm.setAttribute('hidden',true);
        glgLogin.$.authResponseSuccess.setAttribute('hidden',true);
        glgLogin.$.formErrorMsg.removeAttribute('hidden');
      };

    </script>
  </body>
</html>
