<!-- {target: req.params.target, jwt: req.params.jwt} -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="bower_components/iron-form/iron-form.html">
    <link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body class="glg-defaults fullbleed layout vertical">
    <template id="glgLogin" is="dom-bind">
      <div class="layout horizontal center body-wrapper">
        <div style="margin: auto;">

          <div id="authResponseSuccess" class="layout horizontal outer-container" hidden>
            <div class="layout vertical flex container">
              <p>
                <span><a href="[[target]]?jwt=[[jwt]]">Go</a></span>
            </div>
          </div>

          <form
            id="authForm"
            action="submit"
            method="post"
            is="iron-form"
            class="layout horizontal outer-container"
            with-credentials="true"
            content-type="application/x-www-form-urlencoded"
            on-iron-form-response="authResponseHandler"
            on-iron-form-error="displayAuthError"
            >
            <input type="hidden" name="jwt" value="{{jwt}}">
            <div class="layout vertical flex container">
              <paper-input id="emailInput" class="flex" type="email" name="email" label="Email" required autofocus value="test@pants.com"></paper-input>
              <paper-input type="input" name="role" value="{{role}}" class="flex" label="Role"></paper-input>
              <paper-input type="input" name="target" value="{{target}}" class="flex" label="Redirect To"></paper-input>
              <paper-button noink on-click="authMe">Log In</paper-button>
            </div>
          </form>
        </div>
      </div>
    </template>

    <script>


      glgLogin.authMe = function(evt) {
        glgLogin.$.authForm.submit();
      };

      glgLogin.authResponseHandler = function(evt) {
        console.log(evt);
        glgLogin.jwt = evt.detail.__data__.response.jwt;
        glgLogin.target = evt.detail.__data__.response.target;
        glgLogin.$.authResponseSuccess.removeAttribute('hidden');
      }

    </script>
  </body>
</html>
